.about-section {
  background: transparent;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1a1a1a, #333333);
  border-radius: 3%;

}

.about-title {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.media-column {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-image,
.about-video {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.text-column {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.1rem;
  line-height: 1.7;
  color: white;
}

.text-column h3 {
  font-size: 1.4rem;
  color: #32A000;
}

/* Responsive */
@media (max-width: 900px) {
  .about-content {
    flex-direction: column;
  }

  .media-column,
  .text-column {
    flex: 1 1 100%;
  }
}
